html,body{
    margin: 0;
    padding: 0;
    font-family:Roboto,Arial, sans-serif;
    width: auto;
    background-color: rgb(241, 243, 246);
}
/* .asd{
    margin-left: 0px;
    margin-right:12px;
} */
a{
    text-decoration: none;
}
header{
    z-index: 1;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.timer{
    width: 25px;
}
.sticky + .content {
    padding-top: 102px;
}  
.navbar--blue{
    background-color: rgb(40, 116, 240);
    height: 56px;
    line-height: 19.6px;
    width:100%;

}
.nav-link--color{
    color: white;
}
.form-control--size{
    width: 433px;
    height: 35px;
    border-radius: 0;
    font-size: 14px;
}
.header-container{
width: 1025px;
}
.header__button{
    height: 35px;
    border-radius: 0%;
}
.header__button--size{
    padding: 5px 40px;
    height: 32px;
    font-size: 16px;
    font-weight: 500;
}
.header__text{
    font-size: 16px;
    font-weight: 500;
}

/* section1 */
.section-container{
    margin-left: 8.5px;
    margin-right: 8.5px;
}
.dropdown-list{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    height:40px;
}
/* section1 */
/* section2 */
.carousel-item {
    height: 280px;
    overflow: hidden;
  }    
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;    
    height: 280px;
    object-fit: contain;    
  }
.carousel-button{
    width: 45px;
    opacity: 1 !important ;
    background-color:white;
    height: 40%;
    margin-top: 90px;
    color:black !important ;
    font-size: 1.8em;
    text-decoration: none;
}
.carousel-control-prev{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: auto;
}
.carousel-control-next{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: auto;
}
.carousel--bottom{
    border-bottom: 1px solid #caccce;
}
  /* section2 */
  /* section3 */
  .category{
      padding: 15px 4px 14px;
      border-bottom: 1px solid rgba(0,0,0,.1);
      height:65px;
      letter-spacing: 0;
      line-height: 1.4;
      margin-left: 0px;
      margin-right: 1px;
  }
  .category__heading{
    font-size: 22px;
    line-height: 32px;
    display: inline-block !important ;
    font-weight: 500;
  }
  .category__button{
    width: 95px;
    height: 35px;
    border-radius: 0%;
    line-height: 1.4;
    font-size: 13px;
    font-weight: 500;
  }
  .card{
      height: 290px;
      width: 206px;
      text-align: center;
      border: none;
  }
  .card__image{
    width: 150px;
    padding-top: 25px;
  }
  .card__title{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    margin-top: 15px;
    overflow: hidden;
    display: inline-flex;
  }
  .card__text{
      font-weight: 400;
      opacity:0.6;
      margin-top: 7px;
      white-space: nowrap;
      width: 165;
      font-size: 14px;
      line-height: 12px;
      overflow: hidden;
  }
  .card__text--color{
      color: rgb(56,142,60);
      margin-top: 8px;
      opacity: 1;
  }
  /* section3 */
   /* section4 */
   .banner{
       padding-right: 0px;
   }
   .banner__image{
      width: 410px;
      height: 220px;
   }
   .banner__image--align{
       margin-top: 22px;
       margin-bottom: 15px;
   }
   .banner-left {
    position: absolute;
    transform: translate(2%, -226%);
    width: fit-content;
  }
  .banner-center {
    position: absolute;
    transform: translate(4%, -270%);
    width: fit-content;
  }
  .banner-right {
    position: absolute;
    transform: translate(4%, -226%);
    width: fit-content;
  }
  .banner__title{
      font-size: 14px;
      font-weight: 500;
  }
  .banner__button{
      height: 30px;
      width: 135px;
      padding: 0px;
      opacity: 1;
  }
   /* section4 */
   .category--height{
       height: 80px;
   }
   .card__text--top{
       margin-top: -8px;
   }
    /* section4 */
    /* section14 */
   .overview{
    color: #565656;
    background-color: #fff;
    text-align: left;
    margin: 0 auto;
    padding: 20px;
   }
   .products{
       font-size: 12px;
       padding: 0,15px;
       border-right: 1px solid #333;
       line-height: 16.8px;
       padding-left: 2px;
       padding-right: 5px;
       text-decoration: none;
       color: #565656;
       display: inline;
       width: auto;
   }
   .products__heading{
       font-size: 14;
       width: auto;
       line-height: 19.6px;
       margin-right:-10px;
       text-align: left;
       padding-left: 0px;
       color: rgb(132, 132, 132);
   }
  
    /* section14 */
    /* section15 */
    .article{
        display: block;
        font-size:14px;
        padding-left: 25px;
        padding-right: 25px;
        width: 1265px;
    }
    .article__heading{
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        margin-block-end: 10px;
        margin-bottom: 10px;
    }
    .article__text{
        font-size: 11px;
    }
    .article--color{
        color: rgb(135,135,135);
    }
    /* section15 */
    /* footer */
    footer{
        background-color: #172337;
        height: 332px;
      
    }
    .footer-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 40px;
        width: 90%;
        margin-left: 62px;
        text-align: left;

    }
    .list{
        height: 179px;
         width: 150.141px;
    }
    .list__title{
        font-size: 12px;
        font-weight: 400;
        letter-spacing: -0.2px;
        line-height: 16.8px;
        margin-bottom: 9px;
        color: #878787;
        display: contents;
    }
    .list__item{
        letter-spacing: -0.2px;
        line-height: 24px;
        display: flex;
        color: white;
        text-decoration: none;
        font-size: 12px;
        font-weight: 400;
    }
    .address{
        font-size: 14px;
        line-height: 2.8px;
        padding-right: 25px;
        height: 133px;
        width: 287.469px;
        display: flex;
        padding-top: 9px;
    }
    .list--width{
        border-left:1px solid rgb(69, 77, 94);
        width:17em;
        padding-left: 25px;
    }
    .list--width2{
        width: 11em;
        padding-left: 25px;
    }
    .footer-bottom{
        border-top: 1px solid #454d5e;
        padding: 25px 75px;
        margin-top: 40px;
        width: 100%;
    }
    ._2bn{
        display: inline-block;
        text-decoration: none;
        padding-right: 31px;
        font-size: 14px;
        color: white;
    }
    /* footer */
    .header-container2{
        padding-left: 0px;
        padding-right: 0px;
    }
@media only screen and (max-width: 1000px) {
     html,body{
        width: max-content;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
  }